In [13]:
age=10

In [14]:
name="shreya"

In [15]:
print(name,age)

shreya 10

In [16]:
x,y,z = 4,50.6,"something"

In [17]:
print(x,y,z)

4 50.6 something

In [18]:
a,b,c=10,20
print(c)

ValueError: not enough values to unpack (expected 3, got 2)

In [19]:
age,AGE,Age = 1,2,3
print(age,AGE,Age)

1 2 3

In [20]:
for = 10

SyntaxError: invalid syntax (3944425873.py, line 1)

In [21]:
is_product_available = True
print(is_product)

True

In [22]:
complex_number = 3+8j #complex no store it is a diff data type
print(complex_number,type(complex_number))

(3+8j) <class 'complex'>

In [23]:
x = "abcd"
x = 10

In [24]:
print(type(x))

<class 'int'>

In [2]:
print("collecting user input")
user_pno = input()
print("pno",user_pno)

collecting user input

 23

pno 23

In [3]:
print(type(user_pno)) # string but if we want some mathematic operation then we need to do type conversion
print(type(int(user_pno))) # type conversion

<class 'str'>
<class 'int'>

In [6]:
x = float("20")
print(x,type(x))

20.0 <class 'float'>

In [5]:
print(float("20sanket"))

ValueError: could not convert string to float: '20sanket'